html
{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
}
h1, h2
{
  text-decoration: none;
  position: relative;
}

h1:after, h2:after
{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  border-bottom: 2px solid #BBCCEE;
  animation-name: underline-effect;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}

a {
  padding-top: 15px;
}

a:visited {
  color: inherit;
}

a:hover {
  opacity: .5;
}

@keyframes underline-effect
{
  0% {left: 30%; width: 0%;}
  50% {left: 30%; width: 40%;}
  100% {left: 70%; width: 0%;}
}

.container
{
  display: flex;
  justify-content: center;
  margin-top: -30px;
}

.container-item
{
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.left-align
{
  text-align: left;
  justify-content: left;
  padding-left: 5vw;
}

.padding
{
  width: 20vw;
}

.lightmode
{
  background: white;
  color: black;
}

.darkmode
{
  background: black;
  color: white;
}

.modeToggle
{
  position: absolute;
  right: 10px;
  top: 10px;
  border: none;
  background: none;
  width: 30px;
  height: 25px;
  padding: 0px;
  margin: 0px;
}

.modeToggle:hover
{
  opacity: .5;
  cursor: pointer;
}

#lightdark
{
  width: 20px;
  height: 20px;
}
